BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
Standard: c++20

DerivePointerAlignment: false
PointerAlignment: Left

NamespaceIndentation: None

AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Never

AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true

AllowShortFunctionsOnASingleLine: Inline

SortIncludes: false
IncludeBlocks: Preserve

AlignTrailingComments: true

FixNamespaceComments: false
