build*/
cmake-build-*/
build-debug-*/

__pycache__

EventHorizon

.vscode/
.idea/
.cache/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

subprojects/jemalloc/
subprojects/libjpeg-turbo/
subprojects/libpng/
subprojects/libwebp/
subprojects/lz4/
third_party/wayland-protocols/
third_party/nanosvg/

CODE_AUDIT.md
disk.md
files.md
ROADMAP.md
